---
layout: default
description: "포스팅 목록"
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <div class="post-detail">
      <h2 class="post-title">
        <a href="{{ post.url | absolute_url }}">
          {{ post.title }}
        </a>
      </h2>
      <div class="post-footer">
        {% if post.tags.size > 0 %}
          <div class="post-tags">
            {% for tag in post.tags %}
              <a href="/tags/#{{ tag | downcase }}">#{{ tag | downcase }}</a>
            {% endfor %}
          </div>
        {% endif %}
        <span class="post-date">{{ post.date | date: "%b %d, %Y" }}</span>
      </div>
    </div>
    {% if post.thumbnail %}
      <div class="post-thumbnail">
        <a href="{{ post.url | absolute_url }}" ><img src="{{ post.thumbnail }}" /></a>
      </div>
    {% endif %}
  </div>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<nav class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Previous</a>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == 1 %}
      {% assign page_url = site.baseurl | append: '/' | replace: '//', '/' %}
    {% else %}
      {% assign page_url = site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page %}
    {% endif %}
    {% if page == paginator.page %}
      <a href="{{ page_url }}" class="current">{{ page }}</a>
    {% else %}
      <a href="{{ page_url }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next</a>
  {% endif %}
</nav>
{% endif %}
