.masthead-title {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

.posts .post-date {
  margin-bottom: 0;
}
.posts .post-detail {
  display: flex;
  gap: 12px;
  flex-flow: column-reverse;
}

.posts .post-thumbnail img {
  display: block;
  margin: 0;
}

@media (min-width: 30em) {
  .posts .post-detail {
    flex-flow: row;
  }

  .posts .post-thumbnail {
    width: 300px;
  }
}

