.masthead-title {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

.post-summary {
  margin-bottom: 0.25rem;
}

.posts .post-date {
  margin-bottom: 0;
  margin-top: 0rem;
  font-size: 0.875rem;
}

.posts .post {
  display: flex;
  gap: 0.5rem;
  flex-flow: column-reverse;
}

.posts .post-thumbnail img {
  display: block;
  margin: 0;
}

@media (min-width: 48em) {
  .posts .post {
    flex-flow: row;
  }

  .posts .post-thumbnail {
    width: 300px;
  }
}

