<!DOCTYPE html>
<!--//
This web page has been developed by Wani.
 - im@wani.kr
 - http://wani.kr
-->
<!--[if lt IE 7]><html class="ie6" lang="ko"><![endif]-->
<!--[if IE 7]><html class="ie7" lang="ko"><![endif]-->
<!--[if IE 8]><html class="ie8" lang="ko"><![endif]-->
<!--[if gt IE 8]><!--><html lang="ko"><!--<![endif]-->
<head>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

{% if page.description %}
<meta name="description" content="{{ page.description }}" />
{% else if page.content %}
<meta name="description" content="{{ page.content | strip_html | truncatewords:40 }}" />
{% else %}
<meta name="description" content="{{ site.description }}" />
{% endif %}

<!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
<![endif]-->

<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" />
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto+Condensed|Pacifico" />
<link rel="stylesheet" href="//cdn.jsdelivr.net/xeicon/1.0.4/xeicon.min.css" />

<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

<!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

</head>
<body class="post-template">
<header id="site-head">
    <div class="background">
        <img src="/video/150425.jpg" alt="no-support-video" />
        <video autoplay loop>
            <source src="/video/150425.ogv" type="video/ogg" />
            <source src="/video/150425.webm" type="video/webm" />
            <source src="/video/150425.mp4" type="video/mp4" />
        </video>
    </div>
    <div id="site-head-content" class="container">
        <div class="vertical">
            <div class="title">웹으로 먹고살기</div>
            <div class="description">후로 후로그라머 생존기</div>
        </div>
    </div>
</header>
<nav id="site-nav">
    <div class="container">
        <h1><a href="/">Wani</a></h1>
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/">Blog</a></li>
            <li><a href="https://github.com/wan2land/wan2land.github.io/wiki" target="_blank">Wiki</a></li>
        </ul>
    </div>
</nav>

<main class="content" role="main">
{{ content }}
</main>

<footer class="site-footer">
    <a class="subscribe" href="{{ "/feed.xml" | prepend: site.baseurl}}"><span class="tooltip">Subscribe!</span></a>
    <div class="container">
         <section class="copyright">All content copyright <a href="/">{{ site.title }}</a> &copy; 2015 &bull; All rights reserved.</section>
         <section class="poweredby">Proudly published with <a href="http://jekyllrb.com">Jekyll</a>.</section>
    </div>
</footer>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.5.3/MathJax.js?config=TeX-AMS-MML_SVG"></script>
<script src="/js/blog.js"></script>
</body>

</html>
