<!DOCTYPE html>
<!--//
This web page has been developed by Wani.
 - im@wani.kr
 - https://wani.kr
-->
<html lang="ko">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

{% if page.description %}
<meta name="description" content="{{ page.description }}" />
{% else if page.content %}
<meta name="description" content="{{ page.content | strip_html | truncatewords:40 }}" />
{% else %}
<meta name="description" content="{{ site.description }}" />
{% endif %}

<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />

<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

<link rel="stylesheet" href="//cdn.jsdelivr.net/gh/wan2land/d2coding/d2coding-subset.css" />
<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}?190525" />
<link rel="stylesheet" href="//unpkg.com/mermaid@7.0.3/dist/mermaid.min.css" />
<link rel="stylesheet" href="/css/mermaid.theme.css" />

<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

<!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

</head>
<body>
<header class="header">
  <nav>
    <div class="container">
      <h1 class="home"><a href="/">완두블로그</a></h1>
      <ul class="nav">
        <li><a href="/">Blog</a></li>
        <li><a href="/tags/">Tags</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="https://www.notion.so/wan2land/d1ebf64e25fa45afad471e7f5ed56ae8" target="_blank">Note</a></li>
      </ul>
    </div>
  </nav>
</header>

{{ content }}

<footer class="footer">
  <div class="container">
    <div class="copyright">All content copyright <a href="/">{{ site.title }}</a> &copy; 2015-{{ 'now' | date: "%Y" }} &bull; All rights reserved.</div>
  </div>
</footer>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_SVG"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/mermaid/8.0.0/mermaid.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/anchor-js/4.2.0/anchor.min.js"></script>
<script src="/js/common.js?190525"></script>
</body>
</html>
