---
layout: post
---

{{ content }}

<div class="index index-tail">
  <h3>AWS CDK로 서버없이 서비스 운영해보기 전체 글 보기</h3>
  <ol>
    <li>{% if page.chapter == "1" %}<strong>{% endif %}<a href="/posts/2020/01/23/aws-cdk-1/">AWS CDK로 서버없이 서비스 운영해보기 (1) - REST API</a>{% if page.chapter == "1" %}</strong>{% endif %}</li>
    <li>{% if page.chapter == "2" %}<strong>{% endif %}<a href="/posts/2020/02/09/aws-cdk-2/">AWS CDK로 서버없이 서비스 운영해보기 (2) - Express</a>{% if page.chapter == "2" %}</strong>{% endif %}</li>
    <li>{% if page.chapter == "3" %}<strong>{% endif %}<a href="/posts/2020/02/19/aws-cdk-3-nuxt/">AWS CDK로 서버없이 서비스 운영해보기 (3) - Nuxt</a>{% if page.chapter == "3" %}</strong>{% endif %}</li>
  </ol>
</div>
