---
layout: default
---
<div class="page page-post">
  <div class="container">
    <header class="post-header">
      <h1 class="post-title">{{ page.title }}</h1>
      <div class="post-date">
        <time>{{ page.date | date: "%B %-d, %Y" }}</time>
      </div>
    </header>

    <article class="post-content">
      {{ content }}


      {% if page.tags.size > 0 %}
        <div class="post-tags">
          {% for tag in page.tags %}
            <a href="/tags/#{{ tag | downcase }}">#{{ tag | downcase }}</a>
          {% endfor %}
        </div>
      {% endif %}
      <div id="disqus_thread"></div>
    </article>
  </div>
</div>
