---
layout: post
---
<h2 id="목차">목차</h2>

<ol>
    <li>{% if page.chapter == "1.1" %}<strong>{% endif %}<a href="/posts/2017/05/25/php-design-pattern-1-simple-factory">단순팩토리 (Simple Factory)</a>{% if page.chapter == "1.1" %}</strong>{% endif %}</li>
    <li>{% if page.chapter == "1.2" %}<strong>{% endif %}<a href="/posts/2017/05/25/php-design-pattern-2-static-factory">정적팩토리 (Static Factory)</a>{% if page.chapter == "1.2" %}</strong>{% endif %}</li>
    <li>{% if page.chapter == "1.3" %}<strong>{% endif %}<a href="/posts/2017/06/12/php-design-pattern-3-abstract-factory">추상팩토리 (Abstract Factory)</a>{% if page.chapter == "1.3" %}</strong>{% endif %}</li>
    <li>{% if page.chapter == "1.4" %}<strong>{% endif %}팩토리 메서드 (Factory Method){% if page.chapter == "1.4" %}</strong>{% endif %}</li>
    <li>{% if page.chapter == "1.5" %}<strong>{% endif %}빌더 (Builder){% if page.chapter == "1.5" %}</strong>{% endif %}</li>
    <li>{% if page.chapter == "1.6" %}<strong>{% endif %}단일체/싱글턴 (Singleton){% if page.chapter == "1.6" %}</strong>{% endif %}</li>
    <li>{% if page.chapter == "1.7" %}<strong>{% endif %}멀티턴 (Multiton){% if page.chapter == "1.7" %}</strong>{% endif %}</li>
    <li>{% if page.chapter == "1.8" %}<strong>{% endif %}원형/프로토타입 (Prototype){% if page.chapter == "1.8" %}</strong>{% endif %}</li>
    <li>{% if page.chapter == "1.9" %}<strong>{% endif %}풀 (Pool){% if page.chapter == "1.9" %}</strong>{% endif %}</li>
</ol>

{{ content }}
